In [145]:
from bs4 import BeautifulSoup as bs

In [146]:
import requests
import time

In [147]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service

In [224]:
import pandas as pd

In [154]:
s = Service("E:/Niraj/Niraj Personal/Selenium/chromedriver.exe")

In [202]:
url="https://www.naukri.com/data-science-jobs"

In [293]:
def page_html_read(url,s):
    print(url)
    driver = webdriver.Chrome(service=s)
    driver.get(url)
    time.sleep(3)
    soup=bs(driver.page_source,'html5lib')
    driver.close()
    return(soup)

In [188]:
#print(soup.prettify)

In [ ]:
div_result

In [240]:
columns=['Title','URL','Org','Star','Reviews','Exp','Location','Skills']

In [268]:
df=pd.DataFrame(columns=columns)

In [295]:
url="https://www.naukri.com/data-science-jobs"
df=pd.DataFrame(columns=columns)
line=1
page_count=1
while page_count <= 10:
    soup=page_html_read(url+'-'+str(page_count),s)
    page_result=soup.find(class_='list')
    for job_block in page_result.find_all('article',class_='jobTuple bgWhite br4 mb-8'):
        ttl=job_block.find('a',class_='title fw500 ellipsis').text
        url_job=job_block.find('a',class_='title fw500 ellipsis').attrs['href']
        org=job_block.find('a',class_='subTitle ellipsis fleft').text
        star=job_block.find('span',class_='starRating fleft dot')
        if star is not None:
            star=star.text
        reviews=job_block.find('a',class_='reviewsCount ml-5 fleft blue-text')
        if reviews is not None:
            reviews=reviews.text.split()[0][1:]
        exp=job_block.find('li',class_='fleft grey-text br2 placeHolderLi experience')
        if exp is not None:
            exp=exp.text
        locn=job_block.find('li',class_='fleft grey-text br2 placeHolderLi location')
        if locn is not None:
            locn=locn.text
        skills=job_block.find('ul',class_='tags has-description').text
        list=[ttl,url_job,org,star,reviews,exp,locn,skills]
        #print(line,list)
        #line+=1
        df.loc[len(df)]=list
    page_count+=1

https://www.naukri.com/data-science-jobs-1
https://www.naukri.com/data-science-jobs-2
https://www.naukri.com/data-science-jobs-3
https://www.naukri.com/data-science-jobs-4
https://www.naukri.com/data-science-jobs-5
https://www.naukri.com/data-science-jobs-6
https://www.naukri.com/data-science-jobs-7
https://www.naukri.com/data-science-jobs-8
https://www.naukri.com/data-science-jobs-9
https://www.naukri.com/data-science-jobs-10

In [297]:
df.head()

,Title,URL,Org,Star,Reviews,Exp,Location,Skills
0,P&A/DAS - Core Data Science - Senior Analyst,https://www.naukri.com/job-listings-p-a-das-co...,Accenture,4.0,20601,2-7 Yrs,Bangalore/Bengaluru,Data ScienceFinancepresentation skillsIT Skill...
1,Data Science Sr Advisor,https://www.naukri.com/job-listings-data-scien...,Dell International Services India Private Lim...,4.1,1946,12-18 Yrs,Bangalore/Bengaluru,IT SkillsPythonData ScienceMachine LearningBig...
2,Sr. Analyst Advanced Analytics and Data Science,https://www.naukri.com/job-listings-sr-analyst...,Kennametal,4.0,164,5-8 Yrs,Bangalore/Bengaluru,Data SciencePredictive ModelingRData Scientist...
3,Data Science Advisor,https://www.naukri.com/job-listings-data-scien...,Dell International Services India Private Lim...,4.1,1946,5-8 Yrs,Bangalore/Bengaluru,IT SkillsPythonData ScienceBig DataTableauRC++C
4,Data Science Advisor,https://www.naukri.com/job-listings-data-scien...,Dell International Services India Private Lim...,4.1,1946,6-11 Yrs,Bangalore/Bengaluru,Data Sciencecustomer analyticsfinancial servic...

In [300]:
df.to_excel("ScrappedFile.xlsx")